
body {
    font-family: sans-serif;
    font-size: 14px;
}

div, span {
    margin: 0;
    padding: 0;
}

details {
    margin: 8px;
}

form.role {
    display: inline-block;
}

.role details {
    display: inline-block;
    vertical-align: top;
    background-color: white;
    border: 2px solid black;
    border-radius: 16px;
    max-height: 300px;
    overflow-y: auto;
}

.role details:open {
    width: 300px;
}

.role.phdstudent details:open {
    width: 200px;
}

.role details .edit-role {
    display: none;
    float: right;
    font-weight: bold;
}

.role details:open .edit-role {
    display: block;
}

summary, select, input {
    cursor: pointer;
}

summary > * {
    margin: 4px 0;
}

summary > :first-child {
    display: inline;
}

form.lp3 > details, details > .lp3 {
    background-color: color-mix(in srgb, darkorange 40%, white);
}
form.lp4 > details, details > .lp4 {
    background-color: color-mix(in srgb, olive 35%, white);
}
form.lp1 > details, details > .lp1 {
    background-color: color-mix(in srgb, gold 50%, white);
}
form.lp2 > details, details > .lp2 {
    background-color: color-mix(in srgb, yellowgreen 50%, white);
}
form.other > details, details > .other {
    background-color: color-mix(in srgb, slategray 40%, white);
}
form.faculty > details, details > .faculty {
    background-color: color-mix(in srgb, royalblue 35%, white);
}
form.postdoc > details, details > .postdoc {
    background-color: color-mix(in srgb, purple 30%, white);
}
form.phdstudent > details, details > .phdstudent {
    background-color: color-mix(in srgb, cadetblue, white);
}
form.amanuens > details, details > .amanuens {
    background-color: color-mix(in srgb, slateblue 30%, white);
}

.role details > * {
    padding: 4px 8px;
}

.role details > *:last-child {
    border-radius: 0 0 16px 16px;
}

.add-task {
    width: 2em;
    float: right;
    text-align: center;
    appearance: none;
}

.tasklist {
    min-height: 24px;
}


.task, .placeholder, .add-task, form.role input {
    display: inline-block;
    border-radius: 8px;
    text-wrap: nowrap;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.task, .placeholder, .add-task {
    border: 1px solid color-mix(in srgb, black, transparent);
    font-size: x-small;
    margin: 2px;
}

.task-info, .placeholder {
    padding: 4px 0;
}

.task-info {
    display: inline-block;
    width: 100%;
}

.task-value {
    writing-mode: sideways-lr;
    padding: 0 4px;
    font-size: xx-small;
    vertical-align: middle;

}

.placeholder {
    text-align: center;
}

form.role input {
    text-align: center;
    padding: 4x 0;
    border: none;
    border-radius: 8px;
    font-size: small;
    height: 16px;
}

.twocolumn > * {
    width: 50%;
    text-align: center;
}

.twocolumn > :last-child {
    margin-left: 1em;
}

[name="used-value-slider"] {
    background-color: color-mix(in srgb, red, transparent);
    border-color: transparent;
    border-radius: 8px;
    position: relative;
    z-index: 1;
}

form.role input, .task, .add-task {
    background-color: color-mix(in srgb, white 70%, transparent);
}

.task {
    cursor: grab;
    resize: horizontal;
}

.task:active {
    cursor: grabbing;
}

.overlay {
    display: grid;
    grid-template: 1fr / 1fr;
    width: 100%;
    margin-top: 4px;
}

.overlay > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    text-wrap: nowrap;
}

.placeholder {
    background-color: gainsboro;
    color: grey;
    border: 1px solid grey;
    border-radius: 8px;
}

.dragged {
    opacity: 0.2;
}


.summary-all-periods .nosummary {
    display: none;
}
.summary-all-periods input, .summary-all-periods select.add-role {
    pointer-events: none;
}


body {
    margin: 0;
}
main {
    padding: 16px;
    margin-top: 24px;
}
header {
    width: 100%;
    position: fixed;
    padding: 8px 0;
    top: 0;
    background-color: lightgrey;
    z-index: 10;
}
header > div {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
}
header > div > * {
    display: inline-block;
    margin: 0;
}
#import-data input {
    display: none;
}
#import-data label {
    display: none;
}

.edit-dialog .buttons :last-child {
    float: right;
}
